header {
    background-color: #f1f1f2;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

header p {
    text-align: center;
    padding: 0 5%;
    font-size: 3em;
    font-weight: bold;
    line-height: 1;
    margin: 0;
}

header span {
    font-weight: lighter;
    font-size: .7em;
}

pre {
    text-align: left;
}

.nav {
  margin-top: 5px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
}

.nav li a {
    text-decoration: none;
    display: block;
    margin: 10px 0;
    text-align: center;
}

.updates {
    border: 2px solid #319ea3;
    padding: 2%;
}

form {
    padding-top: 0;
}

@media screen and (min-width: 600px) {
    .nav {
        display: flex;
        flex-wrap: wrap;
    }

    .nav li {
        flex-basis: 25%;
    }
}

@media screen and (min-width: 950px) {
    .nav {
        justify-content: center;
        flex-wrap: nowrap;
    }

    .nav li a {
        margin: 10px;
    }

    .nav li {
        flex-basis: auto;
    }
}

.center {
    position: relative;
}

.mouse-wheel {
    position: relative;
    width: 30px;
    height: 60px;
    border-radius: 10px;
    background-color: lightgray;
}

.scroll {
  content: "";
  width: 4px;
  height: 10px;
  position: absolute;
  left: 50%;
  top: 10px;
  background: gray;
  transform: translateX(-50%);
  animation: scroll-wheel 1s infinite;
  animation-delay: 0s;
}

@keyframes scroll-wheel {
  0% {
    top: 10px;
    height: 10px;
  }
  50% {
    top: 20px;
    height: 5px;
  }
  100% {
    top: 10px;
    height: 10px;
  }
}
