/* ADJUSTING BOOTSTRAP */
/* h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
} */

/* :root {
    --bs-primary: #720E32 !important;
    --bs-secondary-bg: #043852;
    --bs-dark: #4A5B73;
} */

.btn-primary {
    background-color: #720E32;
    border-color: #720E32 !important;
}

.btn-primary:hover {
    background-color: #4e0a22;
    border-color: #4e0a22 !important;
}

.text-primary {
    color: #720E32 !important;
}

.border-primary {
    border-color: #720E32 !important;
}

.portfolio .card-body {
    --bs-card-color: #720E32 !important;
}

/*  */
.small {
    letter-spacing: 2px;
}

.container-custom {
    max-width: 960px;
}

/* https://getbootstrap.com/docs/5.2/customize/css-variables/ */
p {
    --bs-body-line-height: 2;
    line-height: var(--bs-body-line-height);
}

.lead {
    --bs-body-line-height: 1.5;
    line-height: var(--bs-body-line-height);
}

.card,
.portfolio a .card {
    transition: .25s ease;
}

/* where did I get this variable, BS documentation? */
.card:hover,
.portfolio a:hover .card  {
    box-shadow: 5px 5px 0px var(--bs-gray-500);
}

.card p {
    --bs-body-line-height: 1.5;
    line-height: var(--bs-body-line-height);
}

.card-body i {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.portfolio .card-body i {
    margin-bottom: 0;
    font-size: 1.8rem;
}

footer .nav-link {
    padding: .5rem;
    font-size: 1.5rem;
}

/* CUSTOM */
.navbar .bi {
    font-size: 1.65rem;
    vertical-align: -3px;
}

.navbar-toggler:focus {
    box-shadow: none;
}

@media (min-width: 992px) {
    .border-lg-0 {
        border: 0 !important;
    }
}

.decorative_line::after {
    content: "";
    height: 3px;
    width: 100px;
    margin-left: 4px;
    vertical-align: middle;
    display: inline-block;
    background-color: var(--bs-gray-500);
}

h5.decorative_line::after {
    width: 50px;
    height: 2px;
}